* {
  background: black;
  color: white;
}

#header h1 {
  color: black;
  background: red;
}

.App {
  text-align: center;
}

#candy-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.candy-card {
  display: inline-block;
  min-width: 300px;
}

img {
  width: 160px;
  border: dotted black 2px;
}

@media only screen and (max-width: 600px) {

  .candy-card {
    min-width: 100%;
  }

  #candy-list-container {
    grid-template-columns: repeat(1, 1fr);
  }

}

#full-moon {
  animation: fade-out 5s forwards;
  position: fixed;
  bottom: 5%;
  right: 1%;
  background: none;
  border: none;
  filter: contrast(0.5);
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
